.env*
.cache
.git
.gitignore
.github
.mypy_cache
.pytest_cache
.ruff_cache
.terraform
.venv
.venvs
__pycache__
benchmarks
datasets
docs
external_repos
frontend/dist
frontend/node_modules
infra
jobs
notebooks
research
tests
tmp
training
uploads
*.pyc
*.ipynb
